<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>
    Name: <strong><%= @cocktail.name %></strong>
  </h3>

  <% @cocktail.doses.each do |dose| %>
   <%= dose.description %>
   <% end  %>

 <%= link_to "add dose", new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %>

  <hr>
  <%= link_to 'Back', cocktails_path, class: "btn btn-info" %>
</div>
